{{ template "header.html" . }}
<main>
<div class="info">
<p>
<form action="/zonkzonk" method="POST">
<span class="title">it's zonking time!</span>
<input type="hidden" name="CSRF" value="{{ .ZonkCSRF }}">
<p>
<input tabindex=1 type="text" name="name" value="" autocomplete=off> - name
<p>
<input type="radio" id="iszonker" name="wherefore" value="zonker">
<label for="iszonker">Zonker</label>
<p>
<input type="radio" id="iszomain" name="wherefore" value="zomain">
<label for="iszomain">Zomain</label>
<p>
<input type="radio" id="iszonvoy" name="wherefore" value="zonvoy">
<label for="iszonvoy">Zonvoy</label>
<p>
<input type="radio" id="iszord" name="wherefore" value="zord">
<label for="iszord">Zord</label>
<p>
<input type="radio" id="iszilence" name="wherefore" value="zilence">
<label for="iszilence">Zilence</label>
<p><br><input tabindex=1 type="submit" name="zonk" value="zonk!">
</form>
</div>
{{ $zonkcsrf := .ZonkCSRF }}
{{ range .Zonkers }}
<section class="honk">
<p>What: {{ .Name }}
<p>Where: {{ .Wherefore }}
<form action="/zonkzonk" method="POST">
<input type="hidden" name="CSRF" value="{{ $zonkcsrf }}">
<input type="hidden" name="zonkerid" value="{{ .ID }}">
<input type="hidden" name="itsok" value="iforgiveyou">
<input type="submit" name="pardon" value="pardon">
</form>
<p>
</section>
{{ end }}
</main>
